<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DarzaProject.Properties.Settings.ConnectionString"
            connectionString="Data Source=DESKTOP-0D2I6DO;User ID=sa;Password=thiagosilva"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>